/* src/index.css */
@tailwind base;
@layer base {
  body {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
  }
  h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 22.5px;
  }
  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  h4 {
    font-weight: 500;
    font-size: 11px;
    line-height: 16.5px;
  }
  h5 {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
  }
  h6 {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANSans_FaNum";
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_Black.eot");
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_Black.eot")
      format("embedded-opentype"),
    url("shared/fonts/woff2/IRANSansWeb\(FaNum\)_Black.woff2") format("woff2"),
    url("shared/fonts/woff/IRANSansWeb\(FaNum\)_Black.woff") format("woff"),
    url("shared/fonts/ttf/IRANSansWeb\(FaNum\)_Black.ttf") format("truetype");
  font-weight: 900;
  font-style: "normal";
}
@font-face {
  font-family: "IRANSans_FaNum";
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_Bold.eot");
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_Bold.eot")
      format("embedded-opentype"),
    url("shared/fonts/woff2/IRANSansWeb\(FaNum\)_Bold.woff2") format("woff2"),
    url("shared/fonts/woff/IRANSansWeb\(FaNum\)_Bold.woff") format("woff"),
    url("shared/fonts/ttf/IRANSansWeb\(FaNum\)_Bold.ttf") format("truetype");
  font-weight: "bold";
  font-style: "normal";
}

@font-face {
  font-family: "IRANSans_FaNum";
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_Medium.eot");
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_Medium.eot")
      format("embedded-opentype"),
    url("shared/fonts/woff2/IRANSansWeb\(FaNum\)_Medium.woff2") format("woff2"),
    url("shared/fonts/woff/IRANSansWeb\(FaNum\)_Medium.woff") format("woff"),
    url("shared/fonts/ttf/IRANSansWeb\(FaNum\)_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: "normal";
}

@font-face {
  font-family: "IRANSans_FaNum";
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_Light.eot");
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_Light.eot")
      format("embedded-opentype"),
    url("shared/fonts/woff2/IRANSansWeb\(FaNum\)_Light.woff2") format("woff2"),
    url("shared/fonts/woff/IRANSansWeb\(FaNum\)_Light.woff") format("woff"),
    url("shared/fonts/ttf/IRANSansWeb\(FaNum\)_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: "normal";
}

@font-face {
  font-family: "IRANSans_FaNum";
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_UltraLight.eot");
  src: url("shared/fonts/eot/IRANSansWeb\(FaNum\)_UltraLight.eot")
      format("embedded-opentype"),
    url("shared/fonts/woff2/IRANSansWeb\(FaNum\)_UltraLight.woff2")
      format("woff2"),
    url("shared/fonts/woff/IRANSansWeb\(FaNum\)_UltraLight.woff") format("woff"),
    url("shared/fonts/ttf/IRANSansWeb\(FaNum\)_UltraLight.ttf")
      format("truetype");
  font-weight: 200;
  font-style: "normal";
}

.avatar {
  width: 30px;
  height: 30px;
}
.divide-border {
  width: 100%;
  @apply bg-gray-300;
}
.select-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("shared/icons/Polygon.svg") 2% / 6% no-repeat;
}
.btn {
  background-color: #456285;
  border-color: #707070;
  border-width: 1px;
}

.icon-dashboard {
  width: 15px;
  height: 15px;
}
.sidenav {
  width: 250px;
  z-index: 1050;
  transition: all 0.4s ease;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}

.bg-gradient-default {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%);
}
.mask {
  transition: all 0.15s ease;
  @apply absolute top-0 left-0 w-full h-full;
}

.card {
  @apply relative w-full mb-30 bg-white flex flex-col;
  border-radius: 6px;
  min-width: 0;
  background-clip: border-box;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  word-wrap: break-word;
}

.border-bottom-navbar-dark {
  border-color: rgba(255, 255, 255, 0.08);
  border-bottom-width: 1px;
}
.text-h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  font-weight: 700;
}

.transform-top {
  transform: translateY(-1px);
}
.shadow-btn {
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.shadow-btn-small {
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-hover:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  @apply transition;
  transition-duration: 0.15s;
}
.card-body {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}
.card-blog {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}
.card-image {
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card-caption {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.btn-warning {
  box-shadow: 0 2px 2px 0 rgb(255 152 0 / 14%),
    0 3px 1px -2px rgb(255 152 0 / 20%), 0 1px 5px 0 rgb(255 152 0 / 12%);
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: translate(-0%, -13%) scale(1.04);
}

.page-link {
  @apply p-0 items-center justify-center flex text-sm cursor-pointer;
  width: 46px;
  height: 46px;
  margin: 0 3px;
}
.page-link .active {
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.page-link:hover {
  z-index: 2;
  text-decoration: none;
  color: #8898aa;
  border-color: #dee2e6;
  background-color: #dee2e6;
  @apply text-white;
}
.table-1 {
  @apply border-0 mb-0 w-full text-other-labelColor bg-transparent;
}
.table-1 thead th {
  @apply border-solid border-b uppercase tracking-wider align-bottom;
  border-color: rgba(233, 236, 239, 1);
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(246, 249, 252, 0.3);
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #e9ecef;
}
.card > .profile-header {
  min-height: 150px;
  background-image: url("shared/images/download.jpg");
  background-size: cover;
  background-position: center top;
  @apply relative pb-72 items-center flex;
}
.bg-gradient-colorpe {
  background: linear-gradient(87deg, #e8eaf6 0, #b6b8c3 100%);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.15s ease;
}
.profile-image {
  position: absolute;
  left: 50%;
  max-width: 140px;
  transition: all 0.15s ease;
  transform: translate(-50%, -50%) scale(1);
  border: 3px solid #fff;
  border-radius: 0.375rem;
}

.custom-toggle {
  position: relative;
  display: inherit;
  display: inline-block;
  width: 52px;
  height: 1.5rem;
  margin: 0;
}
.custom-toggle input:checked + .custom-toggle-slider {
  border: 1px solid #5e72e4;
}
.custom-toggle-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 34px !important;
  background-color: transparent;
}
.custom-toggle input:checked + .custom-toggle-slider:before {
  transform: translateX(28px);
  background: #5e72e4;
}
.custom-toggle-slider:before {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  content: "";
  transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 50% !important;
  background-color: #e9ecef;
}
.custom-toggle input:checked + .custom-toggle-slider:after {
  right: auto;
  left: 0;
  content: attr(data-label-on);
  color: #5e72e4;
}

.custom-toggle-slider:after {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  min-width: 1.66667rem;
  margin: 0 0.21667rem;
  content: attr(data-label-off);
  transition: all 0.15s ease;
  text-align: center;
  color: #ced4da;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn {
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  vertical-align: middle;
  color: #525f7f;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: transparent;
}
.btn {
  font-size: 0.875rem;
  position: relative;
  transition: all 0.15s ease;
  letter-spacing: 0.025em;
  text-transform: none;
  will-change: transform;
}
.btn-info {
  color: #fff;
  border-color: #11cdef;
  background-color: #11cdef;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}
.btn-sm,
.btn-group-sm > .btn {
  font-size: 0.75rem;
}
.bg-gradient-red {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-info {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}
.bg-gradient-green {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}
.bg-gradient-orange {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

[class*="shadow"] {
  transition: all 0.15s ease;
}
.icon-shape {
  @apply py-3 px-3 rounded-full;
}

.icon-shape svg path {
  fill: #fff;
}

.bg-default {
  background-color: #172b4d;
}

.card {
  margin-bottom: 30px;
  border: 0;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
